@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #fff2e0,
    #c0c9ee,
    #a2aadb,
    #898ac4
  );
  cursor: crosshair;
}

h2 {
  color: rgb(110, 106, 106);
  text-align: center;
  font-size: xx-large;
  font: 50px "fantasy", Impact;
  animation: 2s fade;
  user-select: none;
}

h4 {
  color: rgb(110, 106, 106);
  text-align: center;
  font-size: large;
  font: 25px "fantasy", Impact;
  animation: 2s fade;
  padding: 1%;
  user-select: none;
}

.header {
  color: rgb(110, 106, 106);
  text-align: center;
  padding: 120px 0;
  font-size: xx-large;
  font: 100px "fantasy", Impact;
  animation: 1.5s headerFade;
  user-select: none;
}

@keyframes headerFade {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes infoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.github .flip-back {
  background-color: #1b1e23;
}

.projekter,
.gitHub {
  text-align: center;
  font-size: xx-large;
  padding-top: 130px;
  font: 60px "fantasy", Impact;
  color: white;
  user-select: none;
}

.infoBox {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: auto;
  padding-bottom: 50px;
  user-select: none;
  border-radius: 8px;
  animation: 1.5s infoFade;
  border-radius: 15px;
}

.flip-card {
  width: 30%;
  height: 325px;
  perspective: 1000px;
  position: relative;
}

.flip-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-inner {
  transform: rotateX(-180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
  overflow: hidden;
}

.github .flip-front {
  background-image: linear-gradient(
    to bottom,
    #7b542f,
    #b6771d,
    #ff9d00,
    #ffcf71
  );
}

.Projekter .flip-front {
  background-image: linear-gradient(
    to bottom,
    #ecf4e8,
    #cbf3bb,
    #abe7b2,
    #93bfc7
  );
}

.flip-back {
  transform: rotateX(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  cursor: crosshair;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flip-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
