@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #fff2e0,
    #c0c9ee,
    #a2aadb,
    #898ac4
  );
  cursor: crosshair;
}
.navBar {
  background-color: black;
  overflow: hidden;
  color: rgb(255, 255, 255);
  padding: 18px 20px;
  text-align: center;
  transition: transform 0.8s, color 0.5s;
  border-radius: 0 0 8px 8px;
  width: 7%;
  margin: auto;
  user-select: none;
}

.navBar:hover {
  transform: scale(6);
  transition: transform 1.5s, color 0.5s;
  border-color: bisque;
  border-radius: 0 0 8px 8px;
  user-select: none;
  font-family: "fantasy", Impact;
}
h2 {
  color: rgb(110, 106, 106);
  text-align: center;
  font-size: xx-large;
  font: 50px "fantasy", Impact;
  animation: 2s fade;
  user-select: none;
}
h4 {
  color: rgb(110, 106, 106);
  text-align: center;
  font-size: large;
  font: 25px "fantasy", Impact;
  animation: 2s fade;
  padding: 1%;
  user-select: none;
}
.header {
  color: rgb(110, 106, 106);
  text-align: center;
  padding: 120px 0;
  font-size: xx-large;
  font: 100px "fantasy", Impact;
  animation: 1.5s headerFade;
  user-select: none;
}
@keyframes headerFade {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.footerLine {
  background-color: rgb(88, 88, 88);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
  left: 0;
  bottom: 0;
  position: fixed;
}
.infobox {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
  user-select: none;
}

@keyframes infoFade {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* Tekst */
.ommig,
.projekt,
.kompetence {
  text-align: center;
  font-size: xx-large;
  padding-top: 110px;
  font: 60px "fantasy", Impact;
  color: white;
  user-select: none;
}
/* Box */
.omMig,
.Projekter,
.Kompetencer {
  left: 1.5%;
  display: inline-block;
  margin: 1%;
  width: 23%;
  height: 325px;
  cursor: crosshair;
  animation: 1.5s infoFade;
  user-select: none;
}
.omMig:hover,
.Projekter:hover,
.Kompetencer:hover {
  transform: scale(1.05);
  transform: translateY(-20%);
  transition: transform 0.3s;
  user-select: none;
}
.omMig:active,
.Projekter:active,
.Kompetencer:active {
  transform: scale(0.95);
  transition: transform 0.1s;
  user-select: none;
}
.omMig {
  background-image: linear-gradient(
    to bottom,
    #ecf4e8,
    #cbf3bb,
    #abe7b2,
    #93bfc7
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s;
}
.Projekter {
  background-image: linear-gradient(
    to bottom,
    #7b542f,
    #b6771d,
    #ff9d00,
    #ffcf71
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s;
}
.Kompetencer {
  background-image: linear-gradient(
    to bottom,
    #473472,
    #53629e,
    #87bac3,
    #d6f4ed
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s;
}
