@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 200%;
  font-family: Arial, sans-serif;
  background-color: rgb(169, 183, 189);
}
.navBar {
  background-color: #333;
  overflow: hidden;
  color: white;
  padding: 14px 20px;
  text-align: center;
}
.header {
  color: white;
  text-align: center;
  padding: 50px 0;
  font-size: xx-large;
  font: 100px "fantasy", Impact;
}
