html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #ecf4e8,
    #cbf3bb,
    #abe7b2,
    #93bfc7
  );
  cursor: crosshair;
}
