html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #7b542f,
    #b6771d,
    #ff9d00,
    #ffcf71
  );
  cursor: crosshair;
}
