html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #ecf4e8,
    #cbf3bb,
    #abe7b2,
    #93bfc7
  );
  cursor: crosshair;
  user-select: none;
}
.back-button {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: xx-large;
}
.back-button:hover {
  background-color: rgba(200, 200, 200, 0.9);
}
.header {
  color: rgb(110, 106, 106);
  text-align: center;
  padding: 20px 0;
  font-size: 100px;
  font-family: Impact, Fantasy;
  user-select: none;
}

.horizontalDivider {
  width: 80%;
  height: 6px;
  background-color: rgba(128, 128, 128, 0.5);
  margin: 0 auto 40px auto;
  border-radius: 4px;
}

.timeline {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
  transform: translateX(-50%);
}

.timeline-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
  position: relative;
}

.dot {
  width: 20px;
  height: 20px;
  background: #555;
  border-radius: 50%;
  z-index: 10;
  border: 4px solid white;
}

.timeline-content {
  width: 40%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.timeline-content.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.timeline-content.image {
  transition: background-color 0.3s, transform 0.4s;
}
.timeline-content.image:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.timeline-row.left .timeline-content.image {
  order: 1;
}
.timeline-row.left .dot {
  order: 2;
}
.timeline-row.left .timeline-content.text {
  order: 3;
}

.timeline-row.right .timeline-content.text {
  order: 1;
}
.timeline-row.right .dot {
  order: 2;
}
.timeline-row.right .timeline-content.image {
  order: 3;
}
