html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #ecf4e8,
    #cbf3bb,
    #abe7b2,
    #93bfc7
  );
  cursor: crosshair;
}

.header {
  color: rgb(110, 106, 106);
  text-align: center;
  padding: 1px;
  font-size: xx-large;
  font: 100px "fantasy", Impact;
  user-select: none;
}
.horizontalDivider {
  width: 80%;
  background-color: rgba(128, 128, 128, 0.5);
  margin: 1px auto;
  border: 5px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;
}
.verticalDivider {
  width: 0.01%;
  flex: 1;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  margin: 1px auto;
  border: 5px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;
}
.dot {
  position: relative;
  width: 1px;
  height: 50px;
  margin-top: 14vh;
}

.dot::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  padding: 6px;
  background-color: rgb(94, 94, 94);
}
